<!-- Header Starts -->
	<div class="header-div">
		<div class="header-text">
			<span>LiftOff Assignment</span>
		</div>
	</div>
<!-- Header Ends-->

<div class="container">

	<!-- Form Content Starts -->
	<div class="row main-row" style="margin: 30px 0;"> 

		<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-2 form-holder">

			<form name="inputForm">
				<div class="form-group row">		
					<label class="col-md-2 col-lg-2 col-form-label">Name</label>
					<div class="col-md-10 col-lg-10 form-element">
						<input class="form-control" type="text" ng-model="data.name">
					</div>										
				</div>	

				<div class="form-group row">
					<label class="col-md-2 col-lg-2 col-form-label">Value</label>
					<div class="col-md-10 col-lg-10 form-element">
						<input class="form-control" type="number"  min="1" max="100" ng-model="data.value" placeholder="1-100" oninput="if(value>101)value=value.slice(0,2)">
					</div>					
				</div>

				<div class="form-group row">
					<label class="col-md-2 col-lg-2 col-form-label">Start Date </label>
					<div class="col-md-10 col-lg-10 form-element">
						<p class="input-group form-date-element">
							<input type="text" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="startDateOptions" ng-required="true" close-text="Close"  ng-model="data.startDate" show-button-bar="false" ng-change="changeMinDate()" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</p> 
					</div>							
				</div>

				<div class="form-group row">
					<label class="col-md-2 col-lg-2 col-form-label">End Date </label>
					<div class="col-md-10 col-lg-10 form-element">
						<p class="input-group form-date-element">
							<input type="text" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup2.opened" datepicker-options="endDateOptions" ng-required="true" close-text="Close" ng-model="data.endDate" show-button-bar="false" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</p> 
					</div>					
				</div>

				<div class="form-group row form-submit-btn">
					<button type="submit" class="btn btn-primary" ng-click="generateReport()"  ng-disabled="inputForm.$invalid">Generate Report</button>
				</div>
			</form>

		</div>

	</div>
	<!-- Form Content Ends -->

	<!-- Report Display Starts -->
	<div class="row main-row" ng-if="showReportData"> 

		<div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12 report-holder">		

			<div class="report-header">
				<h3>Report</h3>
			</div>

			<div class="col-md-5 col-lg-5"> 

				<div class="form-group row">		
					<label class="col-form-label">Name : </label>
					<span ng-bind="data.name"></span>
				</div>				

				<div class="form-group row" ng-if="data.startDate">
					<label class="col-form-label">Start Date : </label>
					<span> {{ data.startDate | date :  "MMMM d, y" }} </span>
				</div>


				<div class="form-group row" ng-if="data.endDate">
					<label class="col-form-label">End Date: </label>
					<span> {{ data.endDate | date :  "MMMM d, y" }} </span>
				</div>
			</div>

			<div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 col-md-offset-2 col-lg-offset-2 donut-holder"> 
				<canvas class="chart chart-doughnut report-donut" chart-data="donutData" chart-colors="donutColors" chart-options="donutOptions" chart-labels="donutLabels">
			   	</canvas>
			   	<div class="donutText">		
					<h2> {{data.value}} % </h2>
				</div>
			</div>
		</div>

	</div>
	<!-- Report Display Ends -->
</div>