/********************* Common CSS *******************/
body{
	font-size: 18px;
}

.container {
	height: 1000px;
	color: #555;
}

/********************* Header CSS *******************/
.header-div {
	height: 100px; 
	width: 100%; 
	background-color: #008080; 
	color: #fff;
}

.header-text {
	padding: 30px 50px; 
	float: left; 
	font-size: 22px;
}

/********************* Body CSS *******************/
.main-row {
	margin: 30px 0;
}

.form-element {
	width: 50%;
    margin-left: 120px;
}

.form-group {
	margin-left: 20px;
}

.report-donut {
	height: 150px !important;
	width: 150px !important;
}

.report-holder,
.form-holder {
	height: 400px; 
	background: rgba(100, 100, 100, 1.2);
	padding: 50px 0; 
	color: #fff;
	-webkit-box-shadow: 10px 10px 18px -4px rgba(133,128,133,1);
	-moz-box-shadow: 10px 10px 18px -4px rgba(133,128,133,1);
	box-shadow: 10px 10px 18px -4px rgba(133,128,133,1);
}

.report-holder {
	padding: 25px 0; 
}

.form-submit-btn {
	text-align: center; 
	margin-top: 40px;
	height: 45px;
}

.form-submit-btn > .btn.btn-primary {
	height: 100%;
	font-size: 16px;
}

label {
	font-weight: 300;
}

.donutText {
	position: relative; 
	top: -110px; 
	text-align: center;
}

.report-header {
	text-align: center;
	margin-bottom: 45px;
}

/********************* Mobile CSS *******************/
@media screen and (max-width: 699px) and (min-width: 320px) {
	.container {
	    padding: 0;
	    margin: 0;
	    overflow-x: hidden;
	}

    .form-holder {
   		height: 420px;
	}   

	.form-element {
		margin-top: -30px;
		width: 60%;
	}

	.report-holder {
		height: 450px;
	}

	.donut-holder {
		text-align: center;
		padding: 10px 100px;
	}
}